body * {
    font-family: 'Roboto Mono', monospace;
}

body {
    margin-top: 60px;
}

.hero {
    background-image:url(../img/gusanito.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width:100%;
    position: relative;
}

.nombre {
    display: inline-block;

}
 .presentacion {
     position: absolute;
     bottom:50px;
     left:0;
     right:0;
 }

 .redes a {
     color: #ffffff;
 }

 .redes a:hover {
     color: #17a2b8;
 }

 .about , .experiencia {
     color:#343a40;
     text-align: justify;

 }